
html,
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
menu,
ul,
li{
    margin: 0;
    padding: 0;
    
}
html{
    background-color: #000;
}
body{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    display: block;
}


nav{
    width: 100%;
    height: 4em;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    z-index: 99;
    top: 0;
}
.nav-item{
    height: 100%;
    align-items: center;
    display: flex;
    width: 35%;
    padding-left: 2em;
}
.nav-right{
    gap: 1em;
    justify-content: flex-end;
    padding-right: 2em;
    padding-left: 0;
}
.nav-right a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}
.nav-item .search{
    display: flex;
}
nav img{
    float: left;
    height: 3em;
}
input {
    height: 30px;
    font-size: 16px;
    padding: 0 0 0 5px;
    width: 20em;
    border-width: 1px;
    border-color: #9615DB;
    border-style: solid none solid solid;
    border-radius: 12px 0 0 12px;
    outline: none;
    background-color: #d2d3d3;
}
.button-search {
    color: white;
    background: linear-gradient(90deg, rgba(229, 68, 58, 1) 0%, rgba(110, 45, 191, 1) 100%);
    cursor: pointer;
    height: 32px;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 0 12px 12px 0;
    border-width: 1px;
    border-color: #9615DB;
    border-style: solid solid solid none;
}

.button-search:hover {
    opacity: 0.9;
}
.button-nav {
    color: white;
    font-weight: 700;
    background: linear-gradient(90deg, rgba(229, 68, 58, 1) 0%, rgba(110, 45, 191, 1) 100%);
    cursor: pointer;
    height: 3em;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    border-width: 1px;
    border-color: #9615DB;
    border-style: solid solid solid none;
}

.button-nav:hover {
    opacity: 0.9;
}

menu{
    position: fixed;
    width: 80%;
    z-index: 9999;
    top: 4em;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 247, 250, 1) 80%, rgba(206, 209, 215, 1) 100%);
    height: 50px;
}

.navbar li{
    display: flex;
    width: 100%;
}

.navbar li a {
    color: black;
    font-size: 16px;
    text-align: center;
    align-self: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: grid;
    align-items: center;
}


.navbar li :hover {
    color: white;
    background: linear-gradient(90deg, rgba(229, 68, 58, 1) 0%, rgba(110, 45, 191, 1) 100%);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
}

.navbar li :hover > a {
    color: white;
}




.section-wrapper{
    background-color: white;
    padding: 2em 10em 4em 10em;
}

.section-wrapper h2{
    margin-top: 0;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}
#our-services{
    display: flex;
    flex-direction: column;
}


#services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#services-wrapper #services-items{
    margin: 1em 0 2em 0;
}
#services-wrapper #services-content{
    border-left: 3px solid blueviolet;
    position: relative;
}
#services-content .service-description{
    font-size: 20px;
    margin-left: 3em;
    position: absolute;
    width: 100%;
    visibility: collapse;
}
#services-content .service-description h3{
    text-align: center;
    font-size: 2em;
}
#services-content .service-description ul{
    list-style: none;
    line-height: 2em;
}
#services-content .service-description ul li::before {
    content: '✔';
    color: blue;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
}



#about-us, #our-values {
    background-color: #F5F7FA;
}
#subscription {
    background: linear-gradient(145deg, rgba(181, 127, 249, 0.5) 0%, rgba(255, 194, 137, 0.5) 100%);
}
.section-content{
    display: flex;
}
.section-content img{
    min-width: 48%;
}
.section-content .img-right{margin-right: 2em;}
.section-content .img-left{margin-left: 2em;}
.section-content .section-info{
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.stylished-btn{
    display: block;
    width: calc(100% - 8px);
    height: 60px;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    border: none;
    color: white;
    margin-top: 2em;
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    background: linear-gradient(90deg, rgba(229, 68, 58, 1) 0%, rgba(110, 45, 191, 1) 100%);
    cursor: pointer;
    overflow: hidden;
    padding: 4px;
    text-decoration: none;
}
.stylished-special{
    margin-top: 1em;
    border-radius: 0px;
    padding: 0 0 4px 0 ;
    cursor:auto;
}
.stylished-btn .stylished-btn-body{
    height: 100%;
    background: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color, color, text-shadow 0.1s linear;
    border-radius: 10px;
    box-shadow: none;
    color: black;
}
.stylished-btn-special{
    letter-spacing: 2px;
    color: black;
    font-weight: 800;
    font-size: 1.8em;
    text-shadow: -2px 2px white, 2px 2px white, 2px -2px white, -2px -2px white;
    border-radius: 0 !important;
    background-color: #333 !important;
}
.stylished-btn:hover > .stylished-btn-body{
    transition: background-color, color 0.1s linear;
    color: white;
    background: rgba(0.3, 0.3, 0.3, 0.3);
}
.stylished-btn:hover > .stylished-btn-special{
    transition: background-color, color, text-shadow 0.1s linear;
    text-shadow: none;
    color: white;
    background: rgba(50, 50, 50, 0.7) !important;
}

.values-wrapper{
    display: flex;
    text-align: center;
}

.values-description{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.values-right{ text-align: right; margin-left: 1em;}
.values-left{ text-align: left; margin-right: 1em;}
.values-description .value-item{
    color: black;
    font-size: 17px;
    line-height: 28px;
    text-align: justify;
    margin-top: 1em;
    visibility: collapse;
}

.values-menu{
    margin-top: 1em;
}
.values-description div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    padding: 10px;
    display: block;
}


.item-visible {
    visibility: visible !important;
}

.frag {
    fill: rgb(0, 0, 0, 50%);
    stroke: #FFFFFF;
    transition: fill 0.3s;
}

.center {
    fill: white;
}
    
a:hover .frag{
    fill: rgb(0, 0, 0, 25%);
}
text {
    font-size: 10px;
    fill: #FFFFFF;
}


#subscription h3{
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
}
.subscription-info{
    display: flex;
}
.subscription-info ul{
    width: 70%;
    list-style: none;
}
.subscription-info li{
    font-size: 20px;
    margin: 10px 0;
}
.subscription-info button{
    width: 30%;
}


footer .footer-info{
    gap: 2em;
    display: flex;
    background: linear-gradient(90deg, rgba(229, 68, 58, 0.9) 0%, rgba(110, 45, 191, 0.9) 100%);
    text-align: center;
    padding: 4em 0;
    line-height: 1.5em;
}
.footer-info:before,
.footer-info:after {
    content: "";
}
footer .footer-info div{
    flex: 1 1 0;
}
footer .footer-header{
    height: 5em;
    display: grid;
    align-content: center;
    justify-items: center;
}
footer .footer-header h4{
    margin: 0;
}
footer .footer-contact{
    list-style: none;
}
footer .footer-contact ul{
    list-style: none;
    text-decoration: dashed underline #222;
    text-underline-offset: 6px;
}

footer .copyright{
    width: 100%;
    text-align: center;
    background: #222;
    color: white;
    padding: 1px 0;
}



#form-wrapper{
    position: relative;
    top: 6em;
    margin: 3em;
}
#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2em 0;
    padding: 1em;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

#keyword-input {
    flex-grow: 1;
    margin-right: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
}

#search-button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    background-color: #3f51b5;
    color: white;
}
#results-area{
    display: grid;
    grid-template-columns: 30% auto;
}
#filters-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 1em;
    width: 100%;
    margin: auto;
}

#filters-section select {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    background-color: #eee;
}
#results-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.result-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 1em;
}

.result-card h2 {
    margin: 0;
    margin-bottom: 1em;
    color: #212121;
}

.result-card p {
    color: #757575;
}

.result-card div {
    color: #212121;
}
.result-card .job-extras{
    display: flex;
    column-gap: 2em;
}